
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

body{
    background-color:rgba(000000, 000000, 000000, 0.89);
        color: rgb(255, 255, 255, 0.85);
         overflow-x: hidden;
           font-family: "Instrument Sans", sans-serif;
           
}

 .header header{
    display: flex;
   flex-direction: row;
    justify-content: space-between;
   align-items: center;
   
 
  
}
/*
header .header-right{
display: flex;
align-items: center;
column-gap: 11.5rem;

} */

.header-right ul{
    display: flex;
    justify-content: space-around;
    column-gap: 2rem;
    list-style: none;
  margin-right: 5rem;

}
a{ text-decoration: none;
color: #ffffffc1;}

ul li a:hover{
    cursor: pointer;
    
}

.header-right img{
    margin-right: 3rem;
    cursor: pointer;
  
}
header .logo{
    display: flex;
    flex-direction: column-reverse;
    cursor: pointer;
   
;
}
.hero-section img{
  width: 42rem;
  height: 100%;
margin-top: -5.6rem;
margin-left:0 ;
  z-index: 0; 
}

.logo h1{
    position:relative;
    position: relative;
    margin-left: 2rem;
  z-index: 1; 
  font-size: 1.4rem;

}
.hero-section{
    display: flex;
    column-gap: 12rem;
}
.hero-text div{
     display: flex;
    align-items: center;
  column-gap:1rem;
  margin-top: 4rem;
}

.hero-text h1{
     font-size:75px;
     font-weight: bold;
     color: #ffffffc1;
         
        
}
.hero-text p{
font-size: 75px;
margin-top: -3rem;
font-weight: bold;
color: #ffffffc1;
  

}

.hero-title{
    opacity: 0;
    transform:translate(-30rem);
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
}



/*  text fade in animation */
@keyframes  fadeIn{
    to{
        opacity:1;
        transform:translate(0);
    }
}

.hero-text span{
    width:30rem;
    height: 1px;
    background-color: #ffffff5d;
    opacity: 0;
    transform: translateX(30rem);
    animation: slideRight 1.5s forwards;
    animation-delay: 0.5s;

}


@keyframes slideRight{
    to{
        opacity: 1;
        transform: translateX(0)
    }
}
.hero-text{
    display:flex;
    flex-direction: column;
     overflow-x: hidden;
     

}
.hero-text .cta p{
    font-size:medium;
    font-weight:lighter;

}
.cta{
    display: flex;
    flex-direction: column;
    text-align: left;

   
}
.cta button{
    padding: 1rem;
    width: 10rem;
    text-align: center;
    font-size: large;
    margin-right: 26rem;
     margin-top:2rem;
     border-radius: 0.5rem;
}

.cta button:hover{
    cursor: pointer;
    background-color: black;
    color: #fff;
    border: 1px solid #fff;
   
}





.content-section{
    display: flex;
    flex-direction: column;
   justify-content: center;
   margin-top: 5rem;
   align-items: center;
}

.spandiv{
    display: flex;
    align-items:center;
   opacity: 0;
   transform:translateY(-15rem);
   animation: slideDown 1.5s forwards;
   animation-delay: 0.5s;
}



@keyframes slideDown{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.spandiv span{
    display: flex;
   width: 0.1rem;
    height: 10.2rem;
    background-color: #ffffff5d;
   
}
.spandiv h1{
   transform: rotate(-89.8deg);
   font-size: 50px;
}
.content-section div p{
    width: 600px;
}

.content-container{
     display: flex;
     flex-direction: row;
justify-content: space-evenly;
margin-top: 8rem;
column-gap: 10rem;
margin-bottom: 6rem;
}


.con {
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin-bottom: 10rem;
  width: 60rem;
  margin-top:2rem;
  
}

.para-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  border: 1px solid white;
  border-top: 0;
  border-left: 0;
  padding: 2rem;
  color: white;
  width: 40rem;
  height: 100%;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  font-weight:lighter;
  line-height: 1.6rem;
  
}

/* OUTER BORDER = small accent at bottom-right */
.para-inner::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 6rem;   /* short line width */
  height: 6rem;   /* short line height */
  border: 1px solid white;
  border-top: 0;
  border-left: 0;
  margin-right: 6rem;
}
.work-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

 
    
}

.second-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center;

}

.second-content img{
    width:37rem;
    height: 100%;
     transition: transform 2.2s; 
 
}


.second-content img:hover{
    transform: scale(1.2);
     animation: zoomIn 1.5s forwards;
     animation-delay: 0.5s
}



.second-content .span{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    margin-right:66rem;
    margin-bottom: 3rem;
    ;
}

.second-content .span span{
     width: 10rem;
    height: 1px;
    background-color: #ffffff5d;
}

.span h1{
    font-size:1.6rem;;
}
    
.footer{
    display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.504);
   width: 100%;
   overflow: hidden;
   height: 5rem;
 margin-top: 15rem;
 position: absolute;

 
 
}
.footer p, h1{
    font-size: 14px;
    font-weight: lighter;
}

.footer ul{
    list-style: none;
    font-size: smaller;
}

.footer .social-icons {

  display: flex;
  flex-direction: column;
  gap:0.6rem;
}

.wrapper{
height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  
}


/* About me page css styling  */


.about-me-section{
   display: flex;
   justify-content: center;
    column-gap: 0rem;
    margin-top: 4rem;
    margin-left: 0;
overflow: hidden;

}

.about-me-section img {
    width: 35rem;
    margin-left: 6rem;
   
}

.about-me-intro .span , .contact-me-intro .span{
     display: flex;
    align-items: center;
  column-gap:1rem;
  margin-top: 4rem;
  

}

.about-me-intro h1, h2, .contact-me-intro h1, h2{
    font-size:75px;
     font-weight: bold;
     color: #ffffffc1;
     margin:0;
     opacity:0;
     transform: translate(-9rem);
     animation: slideIn 1s forwards;
     animation-delay: 0.5s

    }

.about-me-intro h2 ,.contact-me-intro h2{
    text-align: left;
    margin-right: 36rem;
    
}
 .about-me-intro .span span , .contact-me-intro .span span{
  width:28.5rem;
    height: 1px;
    background-color: #ffffff5d;
    opacity:0;
     transform: translateX(30rem);
     animation: slideRight 1.5s forwards;
     animation-delay: 0.5s
     
}


@keyframes slideIn{
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight{
    to{
        opacity: 1;
        transform: translateX(0);
    }
}


    .about-me-para h1, p{
        font-size: smaller;font-weight: lighter;

    }


    .about-me-intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }



    table{
        display: flex;
        flex-direction: column;
        
        width:40rem; 
        background-color: #ffffffc1;
        color: black;
       

        
    }


    tr{
    display: flex;
   justify-content: space-around;
   align-items: center;
 
   padding: 1rem;
    }

    table .tr{
        border-bottom:1px solid #4545455d;
        background-color: rgba(0, 0, 0, 0.68);
        color: #ffffffde;
     
    }


    .about-equipment {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
        margin-top: 6rem;
        margin-bottom: 6rem;
        margin-left: 2rem;
    }

 .about-span{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
    
 }
    .about-span span{
        width: 10rem;
        height: 1px;
        background-color: #ffffff5d;
        margin-bottom: 2rem;
       
    }


    .about-span h2{
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }

    .team-members{

display: flex;
column-gap:4rem;

}



    .team-member-card img{
        width: 300px;
    }

    .about-team{
        margin-left: 3rem;
        
    }



    /* Contact section styling */


    .contact-section{
       display: flex;
       justify-content: space-between;
       margin-top: 6rem;
   
    }

    .contact-section img{
        width: 35rem;
        margin-left: 2rem;
    }

    .contact-details{
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 0;
    }

    .contact-item{
        display: flex;
        column-gap: 1rem;
    }

    .contact-item img{
        width: 2rem;
    }



    /* Contact form styling */



    .contact-form-section{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
        margin-bottom: 6rem;
        width: 100%;
        column-gap: 7rem;
    }

    .form-intro p{
        width: 25rem;
    }
    .form-intro h2{
        font-size: 2.4rem   }

.form-intro span{
    width: 15rem;
    height: 1px;
    background-color: #ffffff5d;
    margin-bottom: 2rem;
    display: flex;
    margin-top: 2rem;
}

    .contact-form{
        display: flex;
        flex-direction: column;
        width: 30rem;
        margin-top: 5rem;
        
    }
    
  .contact-form input, .contact-form textarea{
        margin-bottom: 1rem;
        padding: 0.8rem;
        border: none;
        border-radius: 4px;
        margin-top: 1.7rem;
    }

    .contact-form textarea{
        height: 8rem;
    }

    .contact-form button{
        padding: 0.5rem;
        width: 8rem;
        text-align: center;
        font-size: large;
        margin-top:1rem;
        cursor: pointer;
        
    }




    /*project page styling starts here*/


    .project-items{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        column-gap: 30rem;
        margin-top: 8rem;
    }
    .project-items img{
        width:25rem;
       
    }
    .project-items span{
        display: flex;
        width: 0.01rem;
        height: 38rem;
        background-color: #fff;
    }

    .project-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
     
    }

    .project-container h3{
        font-size: 2.5rem;
        margin-left: 14.5rem;
    }

    .project-images{
        display: flex;
        flex-direction: column;
        margin-top: 0 ;
        row-gap: 5rem;

    }
.project-items2{
    display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        column-gap: 30rem;
        
     

}
    .project-items2 img{
        width: 25rem;
    margin-bottom: 2rem;
    }
    .project-items2 span{
       display: flex;
        width: 0.01rem;
        height: 110rem;
        background-color: #fff;
    }

    .project-items2 .image1 , .image3{
        margin-left: -15rem;
    }
    .project-images .image1{
        margin-top: -25rem;
    }




    .contact-form .button{
     background-color: rgb(148, 148, 148);
    font-size: 1.1rem;
    cursor: pointer;
    }

    .button:hover{
        background-color: #fff;
    }
    /* media query for small devices*/

    @media(min-width: 320px) and (max-width: 1024px){

        body{
            overflow-x: hidden;
            width:100%;
            margin: 0;
          
        }
        .wrapper{
            height: auto;
            position: relative;
            left: 0;
            right: 0;
            top: 0;
            padding: 1rem;
            margin: 0;
            width: 100%;
            overflow-x: hidden;
        }
    .header header{
           display: flex;
           flex-direction: column;
           justify-content:center;
            row-gap: 1rem;
            margin-top: 1rem;
            text-align: center; 
          
               }

        .header-right ul{
            column-gap: 1rem;
            margin-right: 0;
            
        }

        .hero-section{
            flex-direction: column;
            justify-content: center;
            row-gap: 2rem;
            margin-left: 0;
            align-items: center;
            margin-top: 0;
            margin: 0;
           
        }

        .hero-section img{
            width: 100%;
          
           margin: 0;
        }

        .hero-text h1, .hero-text p{
            font-size: 2.5rem;
            text-align: center;
        }

        .hero-text div{
            flex-direction: column;
           row-gap:1rem;
          
        }

        .hero-text span{
            width: 20rem;
        
        }

        .cta button{
            margin-right: 0;
        }


        .content-section{
            max-width: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .spandiv {
            display: flex;
            flex-direction: column;
        }
        .spandiv span{
            height: 0.03rem;
            width: 12rem;
        }
        .content-container .spandiv  h1{
              transform: rotate(0deg);
   font-size: 2rem;}



        .content-container{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 4rem;
            margin-top: 4rem;
            margin-bottom: 4rem;
            align-items: center;
        }

        .content-container img{
         
            width:25rem;
            margin: 0;
        }
        
        .para-inner{
            width: 100%;
            font-size: smaller;
            padding: 0rem;
            border-right: 0;
            

        }

      
        .para-inner p{
       
           
            line-height: 1.8rem;
            
        }
        .work-images{
            grid-template-columns: 1fr;
            gap: 1.5rem;

         
        
        }
    
    .work-images img{
  width: 25rem;;
    }

footer{
    width: 100%;
  display: flex;
  justify-content: center;
}

footer div{
display: flex;

flex-direction: column;
justify-content: center;
margin: 0;

}



.about-me-container{
display: grid;
grid-template-columns: 1fr;
width: 100%;
margin: 0;
overflow-x: hidden;
}

.about-me-container, .about-me-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
 
}
.about-me-section img{
   width:30rem;
    margin: 0;
}
.about-me-intro .span{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

}
.span h1{
    font-size: 3rem;
}
.con .para-inner p{
    width: 22rem;
    font-size: 1rem;
    font-weight: lighter;
    line-height: 2.5rem;
}
.para-inner{
    width: 25rem;
}

.about-equipment{
    margin: 0;
   
}
table{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    margin-bottom: 5rem;;
}
tr{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   column-gap: 1rem;
}

.team-members{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4rem;;
}

.content-container{
    width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-section{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0;
}
.contact-section img{
    width:25rem;
    margin: 0;
}

.contact-me-intro .di{
    display: flex;
justify-content: center;

width: 100%;

  
}
.di span{
    width: 2rem;
    margin: 0;
    left: 0;
}
.contact-me-intro .span{
    display: flex;
    flex-direction: column;
 
   
}

.span  h1, h2{
    font-size: 2.4rem;
  
}

.contact-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    

}

.contact-details{
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin-bottom: 7rem;;
   
}
.contact-info p{
    width: 24rem;
    line-height: 1.7rem;

}


.contact-item img{
  width: 1.8rem;
}
.contact-form-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 text;
    margin: 0;
    width: 100%;
}
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 0;
}

.contact-form input{
    width: 22rem;
    padding: 1rem;
}
.contact-form textarea{
    width: 22rem;
  
    
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
  width: 100%;
  
  color: #fff;
  padding: 1rem;
  text-align: center;
  left: 0;
  overflow: hidden;
  
}
.footer div, .footer p, .footer .social-icons {
  display: block;
overflow: hidden;
  text-align: center;
}
.social-icons{
    margin-right: 4rem;
}

 .project-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}
.project-items{
    width:100%;
    display: flex;
    flex-direction: column;
    column-gap: 0;
    row-gap: 4rem; 
    align-items: center;

}
.project-items span{
    height: 0.01rem;
    width: 8rem;
    margin-bottom: -3.3rem;
margin-right: 8rem;
}

.project-items2 {
     width:100%;
    display: flex;
    flex-direction: column;
    column-gap: 0;
    row-gap: 3rem; 
    align-items: center;
    margin-top: 27rem;
}
.project-items2 .span{
    height: 0.01rem;
    width: 8rem;
}
.project-items2 .image1, .image2, .image3{
    margin-left:0;
}
.project-container h3{
    font-size: 2rem;
    margin-bottom: 3rem;
}
}